html, body {
  background-color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-spacing: 150%;
  margin: 0;
  padding: 0; }

a {
  color: #4f79f7;
  text-decoration: none; }
  a:hover {
    color: white; }

nav,
h2,
.l-hero-text {
  font-family: 'Montserrat', sans-serif; }

nav,
h2 {
  text-transform: uppercase; }

p {
  margin: 0; }

/******************************************** ARCHETYPES */
.cols {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .cols .col {
    padding: 0 32px; }
  .cols.cols-2 .col {
    width: 50%; }
  .cols.cols-3 .col {
    width: 33.3%; }

/******************************************** PAGE SECTIONS */
.l-page-section.l-boxes {
  font-size: 0.8rem;
  padding: 32px 0; }
  .l-page-section.l-boxes.bg-gray {
    background-color: #ccc;
    color: #666; }
  .l-page-section.l-boxes .col:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .l-page-section.l-boxes h2 {
    font-weight: 400;
    margin-top: 0; }

/******************************************** SPECIFIC ELEMENTS */
.github-logo {
  background: url("../images/logo-github-octocat.svg") no-repeat center center; }

nav {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 5; }
  nav a {
    color: white; }
    nav a:hover {
      color: #4f79f7; }
  nav .l-logoholder {
    height: 100%;
    width: 20%;
    white-space: nowrap; }
    nav .l-logoholder a.logo {
      display: inline-block;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
      nav .l-logoholder a.logo:not(:first-child) {
        margin-left: 16px; }
    nav .l-logoholder .logo-nasa {
      background-image: url("../images/logo-nasa.png");
      width: 65px; }
    nav .l-logoholder .logo-openmct {
      background-image: url("../images/logo-openmct.svg");
      width: 130px; }
  nav .l-nav-links {
    text-align: right;
    width: 80%; }
    nav .l-nav-links .nav-link {
      display: inline-block;
      vertical-align: middle; }
      nav .l-nav-links .nav-link:not(:first-child) {
        margin-left: 16px; }
    nav .l-nav-links .github-logo {
      width: 32px;
      height: 32px; }

.l-hero-holder {
  position: relative;
  height: 660px; }
  .l-hero-holder .l-hero-main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    line-height: 230%; }
    .l-hero-holder .l-hero-main .l-hero-text {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6) 30%);
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6) 30%);
      color: #ccc;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      height: 40%; }
      .l-hero-holder .l-hero-main .l-hero-text b {
        color: white; }

/******************************************** HEROES */
.hero-overview {
  background-image: url("../images/hero-rp-dot-1.jpg"); }
  .hero-overview .col {
    padding: 0 64px; }
  .hero-overview .col-left {
    font-size: 1.5em; }
  .hero-overview .col-right {
    text-align: center;
    text-transform: uppercase; }
    .hero-overview .col-right a {
      display: block; }

/*# sourceMappingURL=styles.css.map */
