@import "../../bourbon/bourbon";

html, body {
    background-color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 85%;
    line-spacing: 150%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav, h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/******************************************** ARCHETYPES */

.cols {
    @include display(flex);
    @include flex-direction(row);
    @include flex(1 1 auto);
    &.cols-2 .col {  width: 50%;  }
    &.cols-3 .col {  width: 33.3%;  }
}

.col {
    //background-color: gray;
    //border-right: 1px solid white;
}

/******************************************** SPECIFIC ELEMENTS */

nav {
    @include align-items(center);
    background: rgba(black, 0.8);
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 5;
    a { color: white; }
    .l-logoholder {
        height: 100%;
        width: 20%;
    }
    .l-nav-links {
        text-align: right;
        width: 80%;
        .nav-link:not(:first-child) {
            margin-left: 2em;
        }
    }
}

.l-hero-main {
    height: 660px;
}