@import "../../bourbon/bourbon";
@import "constants";

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-spacing: 150%;
    margin: 0;
    padding: 0;
}

a {
    color: $clrLink;
    text-decoration: none;
    &:hover {
        color: white;
    }
}

nav,
h2,
.l-hero-text {
    font-family: 'Montserrat', sans-serif;
}

nav,
h2 {
    text-transform: uppercase;
}

p {
    margin: 0;
}

/******************************************** SYMBOLS */
@font-face {
    font-family: 'omct-symbols';
    src:    url('../fonts/omct-symbols.eot?yyn1qj');
    src:    url('../fonts/omct-symbols.eot?yyn1qj#iefix') format('embedded-opentype'),
    url('../fonts/omct-symbols.ttf?yyn1qj') format('truetype'),
    url('../fonts/omct-symbols.woff?yyn1qj') format('woff'),
    url('../fonts/omct-symbols.svg?yyn1qj#omct-symbols') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*

[class^="icon-"], [class*=" icon-"] {
    !* use !important to prevent issues with browser extensions that change fonts *!
    font-family: 'omct-symbols' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    !* Better Font Rendering =========== *!
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/

//.icon-icon-arrow-right:before {
//    content: "\e900";
//}
//.icon-icon-download:before {
//    content: "\e901";
//}



/******************************************** ARCHETYPES */

.btn {
    &.major {
        $clrHvr: lighten($clrBtnMajor, 10%);
        @include linear-gradient(lighten($clrBtnMajor, 10%), $clrBtnMajor);
        border-radius: 5px;
        box-shadow: rgba(black, 0.4) 0 2px 10px;
        color: white;
        padding: 2px 20px;
        &:hover {
            @include linear-gradient(lighten($clrHvr, 10%), $clrHvr);
        }
    }
}

.cols {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    .col {
        @include flex(1 1 200px);
        padding: 0 $padText;
    }
}

.icon {
    font-family: 'omct-symbols' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.l-hero-holder {
    box-shadow: rgba(black, 0.4) 0 -15px 25px 25px;
    position: relative;
    height: 660px;
    .l-hero-main {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        line-height: 230%;
        .l-hero-text {
            @include align-items(center);
            @include linear-gradient(rgba(black, 0), rgba(black, 0.6) 30%);
            color: #ccc;
            position: absolute;
            top: auto;
            right: 0;
            bottom: 0;
            left: 0;
            height: 40%;
            b {
                color: white;
            }
        }
    }
}

/******************************************** PAGE SECTIONS */
.l-page-section {
    &.t-what-boxes {
        @include align-items(stretch);
        font-size: 0.8rem;
        padding: $padText 0;
        background-color: #ccc;
        color: #666;
        .col {
            $pS: $padText;
            $graphicH: 100px;
            border-left: 1px solid rgba(white, 0.5);
            padding-bottom: $graphicH + 10px;
            position: relative;
            &:after {
                // Add a div to hold background graphics
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                content:'';
                display: block;
                position: absolute;
                left: $pS; top: auto; right: $pS; bottom: 0;
                height: $graphicH;
            }
            &:first-child {
                border-left: none;
            }
        }
        h2 {
            font-size: 1.2em;
            font-weight: 400;
            margin-top: 0;
        }
    }
}

/******************************************** SPECIFIC ELEMENTS */

.github-logo {
    &:before {
        @extend .icon;
        content: '\e950';
        font-size: 2.5em;
    }
}

nav {
    @include align-items(center);
    background: rgba(black, 0.8);
    font-size: 0.8rem;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 5;
    a {
        color: #ccc;
        &:hover {
            color: #fff;
        }
    }
    .l-logoholder {
        height: 100%;
        width: 20%;
        white-space: nowrap;
        a.logo {
            display: inline-block;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            &:not(:first-child) {
                margin-left: $padNavElem;
            }
        }
        .logo-nasa {
            background-image: url('../images/logo-nasa.svg');
            width: 65px;
        }
        .logo-openmct {
            background-image: url('../images/logo-openmct.svg');
            width: 130px;
        }
    }
    .l-nav-links {
        text-align: right;
        width: 80%;
        .nav-link {
            display: inline-block;
            vertical-align: middle;
            &:not(:first-child) {
                margin-left: $padNavElem;
            }
        }
    }
}

.t-what-boxes {
    .t-what-is:after { background-image: url('../images/graphic-operator-dishes-rover.svg'); }
    .t-how-use:after { background-image: url('../images/graphic-sat-rocket-rover.svg'); }
    .t-contrib:after { background-image: url('../images/graphic-puzzle-pieces.svg'); }
}

.btn.download:after {
    @extend .icon;
    color: lighten($clrBtnMajor, 30%);
    content: ' \e901';
    font-size: 90%;
    //font-family: 'omct-symbols' !important;

}


/******************************************** HEROES */
.hero-overview {
    background-image: url('../images/hero-rp-dot-1.jpg');
    .col {
        padding: 0 $padText * 2;
    }
    .col-left {
        font-size: 1.5em;
    }
    .col-right {
        text-align: center;
        text-transform: uppercase;
        a {
            display: inline-block;
        }
    }
}
