@import "../../bourbon/bourbon";
@import "constants";

html, body {
    background-color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-spacing: 150%;
    margin: 0;
    padding: 0;
}

a {
    color: $clrLink;
    text-decoration: none;
    &:hover {
        color: white;
    }
}

nav,
h2,
.l-hero-text {
    font-family: 'Montserrat', sans-serif;
}

nav,
h2 {
    text-transform: uppercase;
}

p {
    margin: 0;
}

/******************************************** ARCHETYPES */

.cols {
    @include display(flex);
    @include flex-direction(row);
    @include flex(1 1 auto);
    .col {
        padding: 0 $padText;
    }
    &.cols-2 .col {
        width: 50%;
    }
    &.cols-3 .col {
        width: 33.3%;
    }
}

.l-hero-holder {
    box-shadow: rgba(black, 0.4) 0 -15px 25px 25px;
    position: relative;
    height: 660px;
    .l-hero-main {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        line-height: 230%;
        .l-hero-text {
            @include align-items(center);
            @include linear-gradient(rgba(black, 0), rgba(black, 0.6) 30%);
            color: #ccc;
            position: absolute;
            top: auto;
            right: 0;
            bottom: 0;
            left: 0;
            height: 40%;
            b {
                color: white;
            }
        }
    }
}

/******************************************** PAGE SECTIONS */
.l-page-section {
    &.t-what-boxes {
        font-size: 0.8rem;
        padding: $padText 0;
        background-color: #ccc;
        color: #666;
        .col {
            border-left: 1px solid rgba(white, 0.5);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 85%;
            padding-bottom: 8%;
            &:first-child {
                border-left: none;
            }
        }
        h2 {
            font-weight: 400;
            margin-top: 0;
        }
    }
}

/******************************************** SPECIFIC ELEMENTS */

.github-logo {
    background: url('../images/logo-github-octocat.svg') no-repeat center center;
}

nav {
    @include align-items(center);
    background: rgba(black, 0.8);
    font-size: 0.8rem;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 5;
    a {
        color: white;
        &:hover {
            color: #4f79f7;
        }
    }
    .l-logoholder {
        height: 100%;
        width: 20%;
        white-space: nowrap;
        a.logo {
            display: inline-block;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            &:not(:first-child) {
                margin-left: $padNavElem;
            }
        }
        .logo-nasa {
            background-image: url('../images/logo-nasa.png');
            width: 65px;
        }
        .logo-openmct {
            background-image: url('../images/logo-openmct.svg');
            width: 130px;
        }
    }
    .l-nav-links {
        text-align: right;
        width: 80%;
        .nav-link {
            display: inline-block;
            vertical-align: middle;
            &:not(:first-child) {
                margin-left: $padNavElem;
            }
        }
        .github-logo {
            width: 32px;
            height: 32px;
        }
    }
}

.t-what-boxes {
    .t-what-is { background-image: url('../images/graphic-operator-dishes-rover.svg'); }
    .t-how-use { background-image: url('../images/graphic-sat-rocket-rover.svg'); }
    .t-contrib { background-image: url('../images/graphic-puzzle-pieces.svg'); background-size: 75% !important; }
}


/******************************************** HEROES */
.hero-overview {
    background-image: url('../images/hero-rp-dot-1.jpg');
    .col {
        padding: 0 $padText * 2;
    }
    .col-left {
        font-size: 1.5em;
    }
    .col-right {
        text-align: center;
        text-transform: uppercase;
        a {
            display: block;
        }
    }
}
